/* set up*/
html, body {
    padding: 0;
    margin: 0;
}
html {
    /* font-size: 50px; */
    background-color:   #0077b6;
}
body {
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
}
header {
  display: inline;
  text-align: center;
    background-repeat: no-repeat;
   height: 110px;
}
header div {
  display: flex; 
  justify-content: center;
}
header h1 {
    color: #03045e;
    font-family: fantasy;
}
/*tipografia*/
h1, h2 {
    color: #00b4d8;
    font-family: fantasy;
    font-size: 50px;
}

p, input, li {
    color: #0077b6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
}

/*cuerpo*/
footer, aside, nav {
    padding: 1%;
    background-color: #0077b6;
    justify-content: center;
}
nav {
    background-color: #d0f4de;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 3;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 2;
    padding: 5px;
  }
  
  nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #5485b3;
    font-size: 25px;
  }
  
  nav form {
    display: flex;
    align-items: center;
    padding: 0 2em;
  } 
 .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
 }
 .box {
  margin: 10px;
  text-align: center;
    width: 300px;
    background-color: aliceblue;
 }
 div p {
  text-align: left;
  display: flex;
  justify-content: center;
 }
 div h2 {
  font-size: 30px;
 }
 .division {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background-color: #0077b6;
 }
  picture img {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: baseline;
    padding: 5%;

  }
  aside {   
    height: 150px;
     width: 35%;
    background-color: #03045e;
  }
  aside ul {
    list-style: none;
  }
  aside a {
    color: #0077b6;
  }
  button {
    border-color: #0077b6;
    border-radius: 5px;
    color: #0077b6;
    margin: 10px;
    padding: 5px;
  }
  footer {
    background-color: aliceblue;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .masinformacion {
    background-color: aliceblue;
    box-sizing: content-box;
  }
  footer li {
    list-style: none;
    display: inline-block;
    padding: 0 auto;
    margin: 15px;
  }
  footer a {
    color: #0077b6;
  }